.form{
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    width: 100%;
}
.formDiv{
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input {
    margin: 0.25rem;
    padding: 0.25rem;
    border: none;
}